/* signup img */
.login-image  {
  height: 100vh;
  width: 100vw;
  background-image: url(IMG_6005.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

 /* signup form */
h2 {
  text-align: center;
  color: #414141;
  font-size: 25px;
  padding: 10px;
}

.login-form {
  position: absolute;
  top: 100px;
  left: 50%;
  top: 20%;
  margin-left: -220px;
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 2px;
  box-shadow: 1px 1px 1px 2px  rgba(0, 0, 0, 0.1);
}

.login-box {
  display: block;
  width: 95%;
  padding-top: 20px;
}

.login-box input{
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border-color: lightgray;
  border-width: 1px;
  line-height: 1.7;
  font-size: 20px;
  font-weight: 300;
}

.login-page-btn {
  display: block;
  width: 98%;
  padding: 7px 20px;
  color: #fff;
  background: #428A13;
  border-radius: 10px;
  border: none;
  line-height: 1.7;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

ul {
  list-style-type: none;
  color: red;
}

.login-error {
  padding: 5px;
  text-align: center;
}

.login-box input:focus::placeholder {
  color: transparent;
}

.login-box input:focus{
  outline: none;
  border: 2px solid #428A13;
}

.login-box input:hover{
  outline: none;
  border: 1px solid #428A13;
}

.login-box input::placeholder {
  font-size: 15px;
  margin: 0px 4px;
  padding: 10px 16px;
}


p {
  color: #666666;
  text-align: center;
  padding: 10px;
}

.demo-user-btn{
  text-decoration: none;
  margin: 15px 0px 10px;
  align-items: center;
  border-radius: 5px;
  border: none;
  border-color: #219ad8;
  background-color:none;
  color: #727272;
  font-weight: 700;
  line-height: 2;
  cursor: pointer;
}

