/* signup img */
.signup-image  {
  height: 100vh;
  width: 100vw;
  background-image: url(IMG_5987.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

 /* signup form */
h2 {
  text-align: center;
  color: #414141;
  font-size: 25px;
  padding: 10px;
}

.signup-form {
  position: absolute;
  top: 100px;
  left: 50%;
  top: 20%;
  margin-left: -220px;
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 2px;
  box-shadow: 1px 1px 1px 2px  rgba(0, 0, 0, 0.1);

}

.signup-box {
  display: block;
  width: 95%;
  padding-top: 20px;
}

input{
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border-color: lightgray;
  border-width: 1px;
  line-height: 1.7;
  font-size: 20px;
  font-weight: 300;
}

.sign-up-btn {
  display: block;
  width: 98%;
  padding: 7px 20px;
  color: #fff;
  background: #428A13;
  border-radius: 10px;
  border: none;
}

ul {
  list-style-type: none;
  color: red;
}

.error {
  padding: 5px;
  text-align: left;
}

input:focus::placeholder {
  color: transparent;
}

input:focus{
  outline: none;
  border: 2px solid #428A13;
}

input:hover{
  outline: none;
  border: 1px solid #428A13;
}

input::placeholder {
  font-size: 15px;
  margin: 0px 4px;
  padding: 10px 16px;
}


p {
  color: #666666;
  text-align: center;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: #428A13;
}

