/* .trail-map-container{
  height: 100%;
  width: 100%;
  
} */

.main-container-sidebar{
  top: -135px;
  width: 100%;
  background-color: #428a13;
  position: relative;
  box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.4 );
}

.trail-description-text-sidebar{
  text-align: left;
  font-size: 18px;
  line-height: 1.44;
  color: #414141;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#expand-icon{
  padding-right: 10px;
}
.link-to-trail-box{
  float: left;
  width: 34%;
  height: 50px;
  position: absolute;
  top: -0.2vh;
  z-index: 1;
  background: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.link-to-trail{
  background: transparent;
  font-size: 16px;
  border: none;
  padding: 10px;
  color: #414141;
  float: right;
}

.map-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  background: #FFFFFF;
}

.left-trail-side-bar{
  width: 34%;
  height: auto;
  float: right;
  overflow: scroll;
}

.trail-photo-sidebar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .sidebar {
background-color: rgba(35, 55, 75, 0.9);
color: #fff;
padding: 6px 12px;
font-family: monospace;
/* z-index: 1; */
/* position: absolute;
top: 0;
left: 0;
margin: 12px;
border-radius: 4px; */
/* }  */


.map {
  /* position: absolute; */
  /* display: block; */
  width: 66%;
  height: 100vh;
  /* float: right; */
}

  /* .mapboxgl-ctrl.mapboxgl-ctrl-group{
    position: absolute;
    width: 100px;
    height: 100px;
  } */


.mapboxgl-ctrl-group{
    border-radius: 1px;
}
.mapboxgl-ctrl-group button:focus{
    box-shadow: none;
}
.mapboxgl-ctrl-group > .mapboxgl-ctrl-icon {
    width: 24px;
    height: 24px;
}
.mapboxgl-ctrl-zoom-in {
    width: 24px !important;
    height: 24px !important;
    border-radius: 2px !important;
}
.mapboxgl-ctrl-compass-arrow {
    margin: 0.1em 2px !important;
}

.marker {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-ctrl-group > button {
    width: 36px;
    height: 36px;
    display: block;
    align-items: center;
    padding: 0px;
    outline: none;
    border: 0;
    margin: 0px !important;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow {
    width: 36px !important;
    height: 36px !important;
}

.mapboxgl-ctrl-group > .mapboxgl-ctrl-icon {
    width: 36px;
    height: 36px;
}

.mapboxgl-ctrl-zoom-in {
    width: 36px !important;
    height: 36px !important;
    border-radius: 2px !important;
}

.module-trail-specs{
}

.mapboxgl-map{
  height: 100vh;
}

.reviews-box{
}

.reviews-sidebar{
    height: 200px;
  }